@charset "ISO-8859-1";
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    background-image: url(./images/wallpaperflare.com_wallpaper.jpg);
}

#wrapper {
    width: 100vw;
    height: 100vh;
    color: #fff;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container {
    width: 60%;
    height: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #853c16;
    padding: 25px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main{
    display: flex;
    gap:2rem;
    margin-top: 60px;
}

.admin-image img{
    width: 400px;
    height: 300px;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
  }
  
  .form__field {
    font-family: inherit;
    width: 350px;
    border: 0;
    border-bottom: 2px solid #f0d2d2;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  .form__field::placeholder {
    color: transparent;
  }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #fff;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #aaefe9, #afefc8);
    border-image-slice: 1;
  }
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #afefc8;
    font-weight: 700;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }

  .login-from{
    display: flex;
    flex-direction: column;
    gap:2rem;
  }
  
  .my-btn{
    padding: 12px 10px;
    font-size: 18px;
    margin-top: 40px;
    color: #e57d1c;
    font-weight: 600;
    cursor: pointer;
  }